// Colors
$main-text-color: hsla(0, 0%, 34%, 1);
$highlight-color: #bdb604;
$background-color: hsla(78, 10%, 99%, 0.9);

//Aurora Colors
$aur-1: #373372;
$aur-2: #43b699;
$aur-3: #89699e;
$aur-4: #439bb6bb;
// fonts
$title-font-size: 2.5rem;
$title-font-offset: 50px;
// animations
$animate-underline: all 0.5s ease-in-out;
$animate-fade-in: all 0.8s ease-in-out;
$animate-aurora: fly 50s linear alternate;

html {
  scroll-behavior: smooth;
}
body {
  background-color: $background-color;
  margin: 0px;
}

::-webkit-scrollbar {
  position: absolute;
  height: 0px;
  width: 0; /* Remove scrollbar space */
  display: none; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  // display: none; /* Safari and Chrome */
  background: #ff0000;
}
header {
  .wrapper {
    overflow-x: clip;
    overflow: hidden;
    width: 100vw;
    height: 40vh;
    background: #fff;
    position: relative;
    padding: 0px;
    margin: 0px;
    // clip-path: polygon(1 0, 100% 0, 100% 100%, 0 100%);

    // border-radius: 40px;
  }

  .rotated-wrapper {
    overflow: hidden;
    width: 150vw;
    height: 55vh;
    transform: rotate(-15deg) translateY(-15vh)
      translateX(-80px);
    transform-origin: 0% 0%;
    background-color: rgba(158, 224, 95, 0.609);
  }

  .base {
    position: absolute;
    filter: blur(50px);
    opacity: 0.6;
  }

  .one {
    border-radius: 100%;
    width: 50vw;
    height: 50vh;
    background-color: $aur-1;
    // left: -50px;
    // top: -30px;
    z-index: 3;
    animation: $animate-aurora;
  }

  .two {
    width: 50vw;
    height: 50vh;
    background-color: $aur-2;
    bottom: -40px;
    left: 30px;
    animation: $animate-aurora;
  }

  .three {
    border-radius: 100%;
    width: 50vw;
    height: 50vh;
    bottom: -50px;
    right: 50px;
    background-color: aur-3;
    animation: $animate-aurora;
  }

  .four {
    border-radius: 100%;
    width: 50vw;
    height: 50vh;
    bottom: 80px;
    top: 20px;
    right: 200px;
    background-color: $aur-4;
    animation: $animate-aurora;
  }

  @keyframes fly {
    0% {
      transform: rotate(1turn);
      background-color: $aur-2;
    }
    50% {
      transform: rotate(0);
      background-color: $aur-3;
    }
    100% {
      transform: rotate(1turn);
      background-color: $aur-4;
    }
  }

  .title-container {
    .intro-title {
      font-family: inter;
      font-weight: 600;
      color: #fff;
      font-size: 40px;
    }
    position: absolute;
    top: 20px;
    left: 20px;
    // width: 40%;
  }
}
//title mixin
@mixin title-classes {
  // Generate the classes by iterating through the array
  //  $i becomes the index, which we will interpolate for
  //  the class name and the index for each function call
  @for $i from 0 through 10 {
    .dt#{$i} {
      height: 50px;
      top: $title-font-offset * $i;
      bottom: 125-$i * $title-font-offset;
    }
  }
}
// Output the mixin's classes
@include title-classes;

body {
  .projects-container {
    // width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  a {
    text-decoration: none;
    color: $main-text-color;
  }
  // :hover {
  //   text-decoration: none;
  // }
  h3 {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 1.4em;
    font-weight: 400;
    font-family: "inter";
  }

  p {
    font-weight: 200;
    font-size: 1em;
    line-height: 1.5em;
    font-family: "inter";
  }
  .inline-block{
    display: inline-block;
  }
  .dynamicTitle {
    font-family: inter;
    font-weight: 700;
    color: $main-text-color;
    font-size: 55px;
    // width: 40vw;
    margin-left: 50px;
    // z-index: -1;
    a:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #0087ca;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
  }
  .dynamicTitle.hover {
    a {
      color: $highlight-color;
      animation: $animate-fade-in;
      transform: scaleX(.5);
    }:after {
      transform: scaleX(.4) translateY(5px);
      transform-origin: bottom left;
    }
  }

  .sticky {
    position: sticky;
  }
  .sticky-bottom {
    bottom: 0px;
    position: sticky;
  }

  .all-cards-container {
    // max-width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: center;
  }

  .card-image {
    border-radius: 20px;
    height: 200px;
    width: 200px;
    // object-fit: fill;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 20px;
    }
  }

  .carousel-container {
    scroll-behavior: smooth;
    // overflow-x: scroll;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transition: 0.4s;
    margin: 0px;
    padding: 0px;
    height: 215px !important;
    padding-top: 15px;
  }
  .carousel-container.hover {
    transition: 2s;
    width: 230px;
  }

  .imc {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 800px;
    height: 200px;
  }
  .stacked {
    height: 200px;
    width: 200px;
    // position: relative;
  }

  .unstacked {
    height: 200px;
    width: 600px;
  }

  // .transition {
  //   transition: 5s;
  //   display: flex;
  //   flex-direction: row;
  // }
  .project-card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .project-card-border {
    max-width: 90%;
    // width: 66%;
    height: 260px;
    background: hsla(44, 50%, 98%, 0.7);
    border: 3px solid #575757;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 25px;
    margin-left: auto;
    margin-right: 25px;
    position: relative;
    align-self: flex-end;
  }
  project-card-border.hover {
    background-color: hsla(44, 15%, 100%, 1);
  }
  .card-text-container {
    // width: 66%;
    min-width: 300px;
    max-width: 400px;
    position: relative;
  }
}
